a {
    color: cornflowerblue;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    height: 3px;
    background-color: rgb(78, 80, 82);
    border: 0px;

}


/* Create four equal columns that sits next to each other */
.column {
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.content {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: medium;
    font-family: sans-serif;
}

.gallery-img-container {
    position: relative;
}

.gallery-img-container:hover .overlay {
    opacity: .85; 
}

.header {
    margin-top: 1%;
    text-align: center;
}

.header a {
    color: black;
}

.header h1 {
    font-family: sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: .4s ease;
    background-color: black;
    margin-top: 8px;
    vertical-align: middle;
}

.overlay-text {
    font-family: sans-serif;
    color: white;
    font-size: small;
    position: absolute;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.row {
    display: flex;
    padding: 0 4px;
}

.section-content img {
    max-width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header hr {
    width: 100%;
}

#nav-bar a {
    text-align: center;
    padding: 1%; 
    font-size: 18px;
    text-decoration: none;
}

#nav-bar a:hover {
    font-style: italic;
}

#picture-of-me {
    padding: 1%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
