body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    height: 3px;
    background-color: rgb(78, 80, 82);
    border: 0px;

}

a {
    color: rgb(0, 0, 0);
}


.section-title i {
    font-size: x-large;
}

#header hr {
    width: 100%;
}

.content {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
}


.header {
    margin-top: 1%;
    text-align: center;
}

#nav-bar a {
    text-align: center;
    padding: 1%; 
    font-size: 18px;
    text-decoration: none;
}

#nav-bar a:hover {
    font-style: italic;
}

#picture-of-me {
    padding: 1%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

#gallery-contents {
    line-height: 0;
    -webkit-column-count: 5; /* split it into 5 columns */
    -webkit-column-gap: 5px; /* give it a 5px gap between columns */
    column-count: 5;
    column-gap: 5px;
}

#gallery-contents img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
}
